body {
  background-image: url(../images/mickey.jpg);
  background-size: cover;
}

.font {
  font-family: 'Shadows Into Light', cursive;
  font-weight: bold;
}

.wrapper {
  margin: 0 auto;
  width: 70%;
  min-width: 450px;

}

.border {
  border-radius: 25px;
  margin-bottom: 5px;
  margin-top: 5px;
  border-color: #DDD;
  background-color: rgba(255, 255, 255, 0.6);
}

.maintitle {
  font-size: 60px;
  text-align: center;
  padding: 25px 10px;
  opacity: 1;
}

.inline {
  display: inline-block;
}

.imgsize {
  height: 250px;
  width: 250px;
  margin: 10px;
}

.bigfont {
  font-size: 30px;
}

.boxleft {
  width: 30%;
  margin-left: 5%;
  margin-top: 10px;
  margin-bottom: 10px;

}

.boxright {
  width: 30%;
  float: right;
  margin-right: 10%;
  margin-top: 10px;
}

.centertext {
  text-align: center;
}

.guessbox {
  margin-top: 20px;
  font-family: 'Indie Flower', cursive;
  font-size: 50px;
}

.letter {
  border-bottom: solid;
  border width: 4px;
  font-size: 25px;
  margin-left: 10px;
  margin-right:10px;
  width: 35px;
}

#btn {
  font-size: 25px;
}
